body{
  background-color: #f3f3f3;
}
.main{
  background-color: #fff;
}
.wrap{
  width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.top-info{
  padding-bottom: 10px;
}
.dt{
  padding: 8px;
}
.dt>div{
  width: 30%;
}
.dt>div:first-child{
  width: 40%;
}
.dt>div i.iconfont{
  margin-right: 10px;
}
.name span{
  font-size: 36px;
  font-weight: 600;
}
.border-bottom{
  border-bottom: 5px solid #666;
}
.main-info{
  padding-top: 40px;
}
.main-info>section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
}
.main-info .left-menu{
  width: 20%;
}
.main-info .left-menu h3{
  font-size: 20px;
  font-weight: 600;
}
.main-info .left-menu .time{
  font-size: 14px;
}
.main-info .right-cont{
  position: relative;
  width: 80%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  border-left: 2px solid #333;
  border-top: 5px solid #333;
}
.main-info .right-cont i.iconfont{
  position: absolute;
  left: -15px;
  top: -15px;
  font-size:24px;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #333;
  border-radius: 15px;
  box-shadow: 0 0 0 3px #fff;
}
.edu-cont{
  padding: 5px 150px 5px 0;
}
.list-square::before{
  content: "";
  position: absolute;
  left: -4px;
  width: 6px;
  height: 6px;
  background-color: #333;
  box-shadow: 0 0 1px 2px #333;
  transform: rotate(45deg);
}
.right-cont ol{
  margin: 0;
}
.right-cont ol li{
  list-style: decimal-leading-zero;
  list-style-position: inside;
}
.eval-info .right-cont{
  padding-bottom: 0;
}